.env
.venv
__pycache__
.DS_Store
.claude
.cursor
__pycache__
__pycache__/
__pycache__/main.py
hurricane-dashboard/.env
hurricane-dashboard/node_modules
hurricane-dashboard/dist
hurricane-dashboard/dist-ssr
hurricane-dashboard/*.local
hurricane-dashboard/.vscode
hurricane-dashboard/.idea
hurricane-dashboard/.DS_Store
hurricane-dashboard/*.suo
hurricane-dashboard/*.ntvs*
hurricane-dashboard/*.njsproj
hurricane-dashboard/*.sln
hurricane-dashboard/*.sw?